cffi==2.0.0
cryptography==47.0.0
pycparser==3.0
PyJWT==2.12.1
setuptools==82.0.1
wheel==0.47.0
pytest==9.0.3
requests==2.33.1
pytest-cov==7.1.0
coverage==7.13.5
python-dotenv==1.2.2
uuid==1.30
argon2-cffi==25.1.0
pyrate_limiter==4.1.0

